<h1 class="title">Crea tu nueva contraseña</h1>

<form class="form" action="/resetpassword" method="post" id="form">
  Email:
  <input type="email" name="email" id="email" class="input" />
  Nueva contraseña:
  <input type="password" name="password" id="password" class="input" />
  <div class="containerButton">
    <button type="submit" onclick="location.href='/newpassword'" class="btn">
      Crear
    </button>
  </div>
</form>
