<h1 class="title">
    Tu contraseña ha sido reestablecida correctamente
</h1>

<div class="containerButton">
  <button
  onclick="location.href='/'"
  class="btn"
>
  Volver al inicio
</button>
</div>