
<h1>Socket cliente</h1>
<h3 id="h2">Desea agregar un producto?</h3>

<div id="formContainer">
    <form id="formulario">
        Nombre:<input type="text" id="nombre"/>
        Desc:<input type="text" id="descripcion"/>
        Precio:<input type="number" id="precio"/>
        Stock:<input type="text" id="stock"/>
        Categoria<input type="text" id="category"/>
        <input type="submit" value="ENVIAR" id="btnEnviar"/>
    </form>
</div>
<div id="containerList">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>